<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get Company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>


<form th:method="GET" th:action="@{/company/{getById}/get (getById=${getCompanyById.getId()}) th:object=${getCompanyById}}">
    <div class="card" style="width: 18rem;">


        <img th:src="${getCompanyById.getImage()}" class="card-img-top" alt="photo of usa">
        <div class="card-body">
            <h5 th:text="${getCompanyById.getCompanyName()}" class="card-title">Company Name</h5>
            <p th:text="${getCompanyById.getLocatedCountry()}" class="card-text"></p>
        </div>
    </div>


    <a class="btn btn-outline-success" th:href="@{/course}" role="button">All course</a>

    <a class="btn btn-outline-success" th:href="@{/instructor}" role="button">All instructor</a>
    <a class="btn btn-outline-success" th:href="@{/student}" role="button">All Student</a>
    <a class="btn btn-outline-success" th:href="@{/group}" role="button">All Group</a>




    <button type="submit"><a href="/company">Back to Company</a></button>


    <div class="btn-container">
        <a class="btn btn-warning" th:href="@{/course/create/{companyId}(companyId=${getCompanyById.getId()})}" role="button">Add new course</a>
    </div>

    <div class="btn-container">
        <a class="btn btn-warning" th:href="@{/instructor/create/{companyId}(companyId=${getCompanyById.getId()})}" role="button">Add new Instructor</a>
    </div>


    <div class="btn-container">
        <a class="btn btn-warning" th:href="@{/student/create/{companyId}(companyId=${getCompanyById.getId()})}" role="button">Add new Student</a>
    </div>



    <div class="btn-container">
        <a class="btn btn-warning" th:href="@{/group/create/{companyId}(companyId=${getCompanyById.getId()})}" role="button">Add new group</a>
    </div>


</form>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>